html{
    margin-top:25px;
    margin-left:25px;
}
h6{
    font-size:75px;
    margin-bottom:15px;
}
.btn-lg{
    margin:5px;
}
img{
    float: left;
    height:300px;
    margin-top:25px;
    margin-right:25px;
    margin-bottom:10px;
}
